<h1><%= @spot.name %></h1>

<h2>LIKES: <%= @spot.flags.size %></h2>

<%= form_for "/spots/#{@spot.id}/flags", method: "POST" do |f| %>
  <%= f.hidden_field :first_date, { value: "true" } %>
  <%= f.hidden_field :second_date, { value: "false" } %>
  <%= f.hidden_field :third_date, { value: "false" } %>
  <%= f.hidden_field :bad_date, { value: "false" } %>
  <%= f.hidden_field :user_id, { value: current_user.id } %>
  <%= f.hidden_field :spot_id, { value: @spot.id } %>
  <%= f.submit "GOOD FOR FIRST DATE" %>
<% end %>

<%= flash.notice %>
<%= link_to "Back", spots_path %>
<ul>
	<li>Rating: <%= @spot.rating %></li>
	<li>Category: <%= @spot.description %></li>
	<li>Address: <%= @spot.address %></li>
	<li>Price Rank: <%= @spot.price %> (1 = $10, 2 = $20, 3 = $30, 4 = $40 per person)</li>
	<li>Hours: <%= @spot.hours %></li>
</ul>

<!-- Create Comment -->
<%= link_to "Leave a Comment", "/spots/#{@spot.id}/comments/new" %>
<%#= form_tag new_comment_path, method: "GET" do %>
	<%#= hidden_field_tag(:user_id, "#{current_user.id}") %>
	<%#= hidden_field_tag(:spot_id, "#{@spot.id}") %>
	<%#= submit_tag "Leave a Comment" %>
<%# end %>


<!-- EDIT/DELETE COMMENT -->
<h3>COMMENTS</h3>
<% @spot.comments.each do |chatter| %>
	<p><%= chatter.opinion %> by <%= chatter.user.username %> <%= chatter.user.created_at %></p>
	<% unless chatter.user_id != current_user.id %>
		<%= link_to "Edit", "/spots/#{@spot.id}/comments/#{chatter.id}/edit" %>
		<%#= form_tag edit_comment_path, method: "GET" do %>
			<%#= hidden_field_tag(:comment_id, "#{chatter.id}") %>
			<%#= submit_tag "Edit" %>
		<%# end %>
		<%= link_to "Delete", "/spots/#{@spot.id}/comments/#{chatter.id}" %>
	<% end %>
<% end %>

<ul>
	<% @spot.flags.each do |flag| %>
		<li><%= flag.user.username %></li>
	<% end %>
</ul>			


<%#= link_to "LIKE", :action => "mod_flag", :user_id => "#{current_user.id}", :spot_id => "#{@spot.id}" %>





