<h1><%= @spot.name %></h1>

<h2>LIKES: <%= @spot.flags.size %></h2>

<ul>
	<li><%= @spot.rating %></li>
	<li><%= @spot.description %></li>
	<li><%= @spot.address %></li>
	<li><%= @spot.price %></li>
	<li><%= @spot.hours %></li>
</ul>


<%= current_user.username %> <%= current_user.id %>

<%= link_to "Back", spots_path %>




<%= link_to "like", :action => "mod_flag", :user_id => "#{current_user.id}", :spot_id => "#{@spot.id}" %>

