<!DOCTYPE html>
<html>
<head>
  <title>SecondDate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Petit+Formal+Script' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css'>
</head>
<body>

	<div class="pg_container">

	<div class="logo">
		<h1><%= link_to "Second Date", root_path %><h1>
		<p>We aren't here to walk you down the aile but we'll help you get to your second date.</p>
	</div>


		<div class="user_nav">
		  <% if current_user %>
		    Logged in as <%= current_user.username %>
		    <%= link_to "LOG OUT", log_out_path %>
		  <% else %>
		    <%= link_to "Sign up", sign_up_path %> or
		    <%= link_to "LOG IN", log_in_path %>
		  <% end %>
		</div>
	
		<div class="content">
			
			<%= yield %>
		
		</div>

	</div>
</body>
</html>
